/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/js/build/*
.env
truffle-config.js
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store